name: Development Builds

on: [push, pull_request]

jobs:
  setup-workflow:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'no-ci')"
    outputs:
      matrix-default: ${{ steps.setup-workflow.outputs.matrix-default }}
      matrix-mods: ${{ steps.setup-workflow.outputs.matrix-mods }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Workflow
        id: setup-workflow
        uses: ./.github/actions/setup-workflow
  build:
    runs-on: ubuntu-latest
    needs: setup-workflow
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup-workflow.outputs.matrix-default) }}
    container:
      image: gradle:${{ matrix.gradle }}-jdk${{ matrix.java }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set repository as a safe directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Cache Gradle packages
        uses: actions/cache@v3
        if: ${{ !env.ACT }}
        with:
          path: |
            ~/.gradle/caches
            /home/gradle/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ matrix.gradle }}-jdk${{ matrix.java }}-${{ hashFiles('*gradle.*', '*/*gradle.kts', 'buildSrc/src/**', '*.versions.toml') }}
          restore-keys: |
            ${{ runner.os }}-gradle-${{ matrix.gradle }}-jdk${{ matrix.java }}-
      - name: Cache Loom Files
        uses: actions/cache@v3
        if: ${{ !env.ACT }}
        with:
          path: |
            build/loom-cache
            .gradle/loom-cache
          key: ${{ runner.os }}-loom-${{ hashFiles('*gradle.*', '*/*gradle.kts', 'buildSrc/src/**', '*.versions.toml', 'src/main/resource/quickcarpet.accesswidener') }}
          restore-keys: |
            ${{ runner.os }}-loom-
      - name: Build with Gradle
        run: gradle clean build -x check --stacktrace --no-daemon --profile
      - name: Upload Main JARs
        uses: actions/upload-artifact@v3
        if: ${{ !env.ACT }}
        with:
          name: quickcarpet-jars
          path: build/libs/*.jar
      - name: Upload API JARs
        uses: actions/upload-artifact@v3
        if: ${{ !env.ACT }}
        with:
          name: quickcarpet-api-jars
          path: api/build/libs/*.jar
  unit-test:
    runs-on: ubuntu-latest
    needs: [setup-workflow, build]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup-workflow.outputs.matrix-default) }}
    container:
      image: gradle:${{ matrix.gradle }}-jdk${{ matrix.java }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set repository as a safe directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Cache Gradle packages
        uses: actions/cache@v3
        if: ${{ !env.ACT }}
        with:
          path: |
            ~/.gradle/caches
            /home/gradle/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ matrix.gradle }}-jdk${{ matrix.java }}-${{ hashFiles('*gradle.*', '*/*gradle.kts', 'buildSrc/src/**', '*.versions.toml') }}
          restore-keys: |
            ${{ runner.os }}-gradle-${{ matrix.gradle }}-jdk${{ matrix.java }}-
      - name: Cache Loom Files
        uses: actions/cache@v3
        if: ${{ !env.ACT }}
        with:
          path: |
            build/loom-cache
            .gradle/loom-cache
          key: ${{ runner.os }}-loom-${{ hashFiles('*gradle.*', '*/*gradle.kts', 'buildSrc/src/**', '*.versions.toml', 'src/main/resource/quickcarpet.accesswidener') }}
          restore-keys: |
            ${{ runner.os }}-loom-
      - name: Run Unit Tests
        run: gradle test --stacktrace --no-daemon
      - name: Upload Test Results
        uses: actions/upload-artifact@v3
        if: always() && !env.ACT
        with:
          name: Unit Test Results (Java ${{ matrix.java }}, Gradle ${{ matrix.gradle }})
          path: build/test-results/**/*.xml
  game-test:
    runs-on: ubuntu-latest
    needs: [setup-workflow, build]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup-workflow.outputs.matrix-default) }}
    container:
      image: gradle:${{ matrix.gradle }}-jdk${{ matrix.java }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set repository as a safe directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Cache Gradle packages
        uses: actions/cache@v3
        if: ${{ !env.ACT }}
        with:
          path: |
            ~/.gradle/caches
            /home/gradle/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ matrix.gradle }}-jdk${{ matrix.java }}-${{ hashFiles('*gradle.*', '*/*gradle.kts', 'buildSrc/src/**', '*.versions.toml') }}
          restore-keys: |
            ${{ runner.os }}-gradle-${{ matrix.gradle }}-jdk${{ matrix.java }}-
      - name: Cache Loom Files
        uses: actions/cache@v3
        if: ${{ !env.ACT }}
        with:
          path: |
            build/loom-cache
            .gradle/loom-cache
          key: ${{ runner.os }}-loom-${{ hashFiles('*gradle.*', '*/*gradle.kts', 'buildSrc/src/**', '*.versions.toml', 'src/main/resource/quickcarpet.accesswidener') }}
          restore-keys: |
            ${{ runner.os }}-loom-
      - name: Run game tests
        uses: ./.github/actions/game-test
        with:
          mods: lazydfu
          world-artifact-name: gametestworld
          test-results-name: Game Test Results (Java ${{ matrix.java }}, Gradle ${{ matrix.gradle }})
  game-test-with-mods:
    runs-on: ubuntu-latest
    needs: [setup-workflow, build]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup-workflow.outputs.matrix-mods) }}
    container:
      image: gradle:${{ matrix.gradle }}-jdk${{ matrix.java }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set repository as a safe directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Cache Gradle packages
        uses: actions/cache@v3
        if: ${{ !env.ACT }}
        with:
          path: |
            ~/.gradle/caches
            /home/gradle/.gradle/caches
          # Store this under a separate key to cache remapped mods
          key: ${{ runner.os }}-gradle-${{ matrix.gradle }}-jdk${{ matrix.java }}-lithium-${{ matrix.lithium }}-${{ hashFiles('*gradle.*', '*/*gradle.kts', 'buildSrc/src/**', '*.versions.toml') }}
          restore-keys: |
            ${{ runner.os }}-gradle-${{ matrix.gradle }}-jdk${{ matrix.java }}-${{ hashFiles('*gradle.*', '*/*gradle.kts', 'buildSrc/src/**', '*.versions.toml') }}
            ${{ runner.os }}-gradle-${{ matrix.gradle }}-jdk${{ matrix.java }}-lithium-${{ matrix.lithium }}-
            ${{ runner.os }}-gradle-${{ matrix.gradle }}-jdk${{ matrix.java }}-
      - name: Cache Loom Files
        uses: actions/cache@v3
        if: ${{ !env.ACT }}
        with:
          path: |
            build/loom-cache
            .gradle/loom-cache
          key: ${{ runner.os }}-loom-${{ hashFiles('*gradle.*', '*/*gradle.kts', 'buildSrc/src/**', '*.versions.toml', 'src/main/resource/quickcarpet.accesswidener') }}
          restore-keys: |
            ${{ runner.os }}-loom-
      - name: Run game tests with mods
        uses: ./.github/actions/game-test
        with:
          mods: |
            lithium=${{ matrix.lithium }}
            lazydfu
          world-artifact-name: gametestworld-mods
          test-results-name: Game Test Results (Java ${{ matrix.java }}, Gradle ${{ matrix.gradle }}, Lithium ${{ matrix.lithium }})
  publish-test-results:
    runs-on: ubuntu-latest
    needs: [build, unit-test, game-test, game-test-with-mods]
    if: needs.build.result == 'success' && (success() || failure())
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          path: artifacts
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1.19
        if: ${{ !env.ACT }}
        with:
          check_name: Test Results
          files: artifacts/**/*.xml